@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.bg-main {
  background-color: #185b7a;
}

.text-style {
  font-family: Alkatra, cursive;
  font-size: 7vw;
  font-weight: bolder;
}

.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #091e34 0%,
    #185b7a 29%,
    #fe621a 67%,
    #ffd33c 100%
  );
  background-size: auto auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
