@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.bg-sidebar {
  background-color: #091e34;
}

.fa-fade {
  color: #29b6c9;
}

.fa-brands {
  color: rgb(219, 218, 218);
}

.no-style {
  list-style: none;
  margin: 0;
  padding: 0;  
}

ul li:hover {
  cursor: pointer;
}

.portrait {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  padding: 1em;
}

.text-style-portfolio {
  font-family: 'Cedarville Cursive', cursive;
}

.text-style-sidebar {
  font-family: 'Alkatra', cursive;
}

.padding {
  padding-right: 0.2em;
  animation: slideInRight 0.5s ease-in;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.color1 {color: #091e34;} 
.color2 {color: #123e51;} 
.color3 {color: #185b7a;} 
.color4 {color: #2085a2;} 
.color5 {color: #29b6c9;}
.color6 {color: #00272f;}
.color7 {color: #00548e;}
.color8 {color: #fe621a;}
.color9 {color: #ffd33c;}
.color10 {color: #ffff98;}