@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.bg-sidebar {
  background-color: rgb(15, 15, 15);
}

.fa-fade {
  color: #fff023;
}

.fa-brands {
  color: rgb(219 218 218);
}

.no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li:hover {
  cursor: pointer;
}

.text-style-portfolio {
  font-family: 'Cedarville Cursive', cursive;
  color: #fff023;
}

.text-style-sidebar {
  font-family: Alkatra, cursive;
}
