@import url('https://fonts.googleapis.com/css2?&family=Nunito:wght@300&display=swap');

.bg-about {
  background-color: #185b7a;
}

.about-section {
  font-family: Nunito, sans-serif;
}

.animate-character {
  text-transform: uppercase;
  background-image: 
    linear-gradient(
    -225deg,
    #091e34 0%,
    #185b7a 29%,
    #fe621a 67%,
    #ffd33c 100%
  );
  background-size: auto auto;
  color: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.about-header {
  font-family: Alkatra, cursive;
  font-size: 7vw;
  font-weight: bolder;
}

.text-about {
  font-family: Nunito, sans-serif;
  font-size: 1.4vw;
  font-weight: bold;
  color: whitesmoke;
}

.text-tech {
  font-family: Nunito, sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #fe621a;
}

.text-tech-header {
  font-family: Alkatra, cursive;
  font-size: 2vw;
  font-weight: bold;
  color: #fe621a;
}

.text-link {
  font-family: Nunito, sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  color: whitesmoke;
}
