.carousel-indicators li[data-bs-slide-to="0"] {
  background-color: #fff023;
}

.carousel-indicators li[data-bs-slide-to="1"] {
  background-color: #fff023;
}

.carousel-indicators li[data-bs-slide-to="2"] {
  background-color: #fff023;
}

.carousel-indicators li[data-bs-slide-to="3"] {
  background-color: #fff023;
}

.carousel-indicators li[data-bs-slide-to="4"] {
  background-color: #fff023;
}

.carousel-indicators li[data-bs-slide-to="5"] {
  background-color: #fff023;
}

.img {
  height: auto;
  max-width: 100%;
  padding: 5rem;
}

.bg-project {
  background: #1b1b1b;
  margin-left: 10em;
}

.btn-group {
  background-color: #1b1b1b;
}

.fa-beat {
  color: #fff023;
}

.arrows {
  color: #fff023;
  font-size: 2em;
}

.text-project {
  font-family: Alkatra, cursive;
  font-size: 2vw;
  color: #fff023;
}

.text-description {
  font-family: Nunito, sans-serif;
  font-size: 1.4vw;
  color: rgb(231 231 231);
}

.carousel-indicators {
  bottom: 0;
}

@media (max-width: 768px) {
  .p {
    margin-left: 10em;
    height: 100vh;
    padding-top: 5em;
  }

  .bg-project {
    min-height: 100%;
  }

  .img {
    padding: 0;
  }
}
